//Color
$white: #ffffff;

$grey-300: #d9d9d9;
$grey-400: #b9b9b9;
$grey-500: #f7f7f7;
$grey-600: #555555;
$grey-800: #404040;

$blue-300: #4d90fe;
$blue-400: #4d90fe;
$blue-500: #427fed;
$blue-600: #357ae8;
$blue-700: #2f5bb7;

$red-500: #dd4b39;
